html,
body {
  height: 100%;
}

body {
  background: #424242;
  /* background: #fff; */
}

#slider {
  box-shadow: 0px 0px 50px 5px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 800px;
  height: 400px;
  overflow: hidden;
  margin: auto;
  /* Center of the container*/
  top: 50%;
  transform: translateY(-50%);
  border-radius: 8px;
}

#inner-slider {
  position: absolute;
  height: 400px;
  width: 4000px;
  float: left;
}

img.slider-image {
  float: left;
  width: 800px;
  height: auto;
  margin: 0;
  padding: 0;
}

#arrow {
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;

}

#arrow>div {
  background: #ffffffcc;
  border-radius: 2px;
}

#arrow>div:hover {
  cursor: pointer;
}

#arrow-left {
  float: left;
}

#arrow-right {
  float: right;
}

#arrow img {
  height: 50px;
}

.hidden {
  display: none;
}
